# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos de Python
__pycache__/
*.py[cod]
*$py.class

# Entornos virtuales
env/
venv/
ENV/
.venv/

# Archivos de bases de datos temporales o sqlite
*.db
*.sqlite3
