<div class="pr-8">
   <!-- Diferencial valuacion 2 -->
   <div class="salto-pagina"></div>
   <p class="texto-justificado fw-regular w-full">
      [ I= Posicion inicial , C = Compras , T + Traspasos ]
   </p>
   <table class="tabla-componente w-full tabla-valuacion">
      <thead>
         <tr class="encabezado-tabla-componente">
            <th class="p-3">
               Diferencial por valuación de la cartera: Ventas, vencimientos o traspasos de tÍtulos en el periodo (2)
            </th>
            <th>{{ mes }} de {{ anio }}</th>
         </tr>
      </thead>

      <tbody>
         <!-- Mercado de Dinero en directo -->
         <tr class="fw-medium">
            <td>Tipo posicion</td>
            <td>Emisora</td>
            <td class="texto-izquierda">Serie</td>
            <td>Titulos</td>
            <td>Costo</td>
            <td></td>
            <td>Precio de Venta</td>
            <td>Diferencial por valuación</td>
            <td>% diferencial</td>
         </tr>

         <!-- Mercado de Dinero en directo -->
         <tr class="fw-medium">
            <td colspan="9">Mercado de Dinero en directo</td>
         </tr>

         {% if detalle.mercado_directo_1 %}
            {% set datos_detalle = detalle.mercado_directo_1 %}
            <tr>
               <td>{{ datos_detalle.tipo_posicion }}</td>
               <td>{{ datos_detalle.emisora }}</td>
               <td class="texto-izquierda">{{ datos_detalle.serie }}</td>
               <td class="texto-derecha">{{ datos_detalle.titulos }}</td>
               <td class="texto-derecha">${{ datos_detalle.costo }}</td>
               <td></td>
               <td>${{ datos_detalle.precio_venta }}</td>
               <td>${{ datos_detalle.diferencial_valuacion }}</td>
               <td>{{ datos_detalle.porcentaje }}%</td>
            </tr>
         {% endif %}

         {% set datos_detalle = detalle.mercado_directo_2 %}
         <tr>
            <td></td>
            <td></td>
            <td></td>
            <td class="borde-arriba borde-abajo">{{ datos_detalle.titulos }}</td>
            <td></td>
            <td></td>
            <td></td>
            <td class="borde-arriba borde-abajo">{{ datos_detalle.diferencial_valuacion }}</td>
            <td></td>
         </tr>

         <!-- Mercado de Dinero en reporto -->
         <tr class="fw-medium">
            <td colspan="9">Mercado de Dinero en reporto</td>
         </tr>

         {% if detalle.mercado_reporto_1 %}
            {% set datos_detalle = detalle.mercado_reporto_1 %}
            <tr>
               <td>{{ datos_detalle.tipo_posicion }}</td>
               <td>{{ datos_detalle.emisora }}</td>
               <td>{{ datos_detalle.serie }}</td>
               <td>{{ datos_detalle.titulos }}</td>
               <td>${{ datos_detalle.costo }}</td>
               <td></td>
               <td>${{ datos_detalle.precio_venta }}</td>
               <td>${{ datos_detalle.diferencial_valuacion }}</td>
               <td>{{ datos_detalle.porcentaje }}%</td>
            </tr>
         {% endif %}

         {% set datos_detalle = detalle.mercado_reporto_2 %}
         <tr>
            <td></td>
            <td></td>
            <td></td>
            <td class="borde-arriba borde-abajo">{{ datos_detalle.titulos }}</td>
            <td></td>
            <td></td>
            <td></td>
            <td class="borde-arriba borde-abajo">{{ datos_detalle.diferencial_valuacion }}</td>
            <td></td>
         </tr>

         <!-- Mercado de Capitales -->
         <tr class="fw-medium">
            <td colspan="9">Mercado de Capitales</td>
         </tr>

         {% if detalle.mercado_capitales_1 %}
            {% set datos_detalle = detalle.mercado_capitales_1 %}
            <tr>
               <td>{{ datos_detalle.tipo_posicion }}</td>
               <td>{{ datos_detalle.emisora }}</td>
               <td>{{ datos_detalle.serie }}</td>
               <td>{{ datos_detalle.titulos }}</td>
               <td>${{ datos_detalle.costo }}</td>
               <td></td>
               <td>${{ datos_detalle.precio_venta }}</td>
               <td>${{ datos_detalle.diferencial_valuacion }}</td>
               <td>{{ datos_detalle.porcentaje }}%</td>
            </tr>
         {% endif %}

         {% set datos_detalle = detalle.mercado_capitales_2 %}
         <tr>
            <td></td>
            <td></td>
            <td></td>
            <td class="borde-arriba borde-abajo">{{ datos_detalle.titulos }}</td>
            <td></td>
            <td></td>
            <td></td>
            <td class="borde-arriba borde-abajo">{{ datos_detalle.diferencial_valuacion }}</td>
            <td></td>
         </tr>

         <tr>
            <td class="pt-2 pb-2"></td>
         </tr>
      </tbody>
   </table>

   <p class="texto-justificado fw-regular w-full">
      {Nota: [ (2) el diferencial por valuación de la posicion vendida, vencida o traspasada en el periodo sera la diferencia entre el
      precio de venta y el costo (Anexo 14 Vb) ][ M= Vencimientos , V = Ventas , T + Traspasos ]}
   </p>
</div>