<!-- NOVIEMBRE 2024 -->
   <table class="tabla-componente w-full tabla-posicion-valores">
      <thead>
         <tr class="encabezado-tabla-componente">
            <th class="p-3">Detalle de la posición de valores</span></th>
            <th>noviembre de 2024</th>
         </tr>
      </thead>
      <tbody>
         <!-- Mercado de Dinero en directo -->
         <tr style="font-weight: 500;">
            <td colspan="9" class="pt-2">Mercado de Dinero en directo</td>
         </tr>

         <tr style="font-weight: 500;">
            <td>Emisora</td>
            <td>Serie</td>
            <td>Titulos</td>
            <td>Costo</td>
            <td></td>
            <td>Precio de Mercado</td>
            <td>Importe de compra</td>
            <td>Valor de Mercado</td>
            <td>Plus/minusvalia</td>
            <td></td>
            <td></td>
            <td></td>
            <td>% cartera total</td>
         </tr>

         <tr>
            <td>BI CETES 260611</td>
            <td></td>
            <td>0</td>
            <td>$0.000000</td>
            <td></td>
            <td>$0.000000</td>
            <td>$0.00</td>
            <td>$0.00</td>
            <td>$0.00</td>
            <td></td>
            <td></td>
            <td></td>
            <td>0.00%</td>
         </tr>

         <tr>
            <td></td>
            <td></td>
            <td class="borde-arriba borde-abajo">0</td>
            <td></td>
            <td></td>
            <td></td>
            <td class="borde-arriba borde-abajo">$0.00</td>
            <td class="borde-arriba borde-abajo">$0.00</td>
            <td class="borde-arriba borde-abajo">$0.00</td>
            <td></td>
            <td></td>
            <td></td>
            <td class="borde-arriba borde-abajo">0.00%</td>
         </tr>

         <!-- Mercado de dinero en reporto -->
         <tr style="font-weight: 500;">
            <td colspan="9" class="pt-2 pb-2">Mercado de dinero en reporto</td>
         </tr>

         <tr style="font-weight: 500;">
            <td>Emisora</td>
            <td>Serie</td>
            <td>Titulos</td>
            <td>F. Inicio</td>
            <td>F. Venc</td>
            <td>Precio de Mercado</td>
            <td>Importe de Operación</td>
            <td>Valor al cierre</td>
            <td>Premio desvengado</td>
            <td>Plazo</td>
            <td>Días por Vencer</td>
            <td>Tasa</td>
            <td>% cartera total</td>
         </tr>

         <tr>
            <td></td>
            <td></td>
            <td>154,969</td>
            <td>2024-11-29</td>
            <td>2024-12-02</td>
            <td>$8.638511</td>
            <td>$1,332,493.10</td>
            <td>$1,332,837.33</td>
            <td>$34,423</td>
            <td>0.00</td>
            <td>2.00</td>
            <td>0.093</td>
            <td>100.00%</td>
         </tr>

         <tr>
            <td></td>
            <td></td>
            <td class="borde-arriba borde-abajo">154,969</td>
            <td></td>
            <td></td>
            <td></td>
            <td class="borde-arriba borde-abajo">$1,332,493.10</td>
            <td class="borde-arriba borde-abajo">$1,332,837.33</td>
            <td class="borde-arriba borde-abajo">$344.23</td>
            <td></td>
            <td></td>
            <td></td>
            <td class="borde-arriba borde-abajo">100.00%</td>
         </tr>

         <!-- Mercado de capitales -->
         <tr style="font-weight: 500;">
            <td colspan="9" class="pt-2 pb-2">Mercado de capitales</td>
         </tr>

         <tr style="font-weight: 500;">
            <td>Emisora</td>
            <td>Serie</td>
            <td>Titulos Mes Actuak</td>
            <td>Costo Promedio Ponderado</td>
            <td></td>
            <td>Precio de Mercado</td>
            <td>Importe de compra</td>
            <td>Valor de Mercado</td>
            <td>Plus/minusvalia</td>
            <td></td>
            <td></td>
            <td></td>
            <td>% cartera total</td>
         </tr>

         <tr>
            <td></td>
            <td></td>
            <td>0</td>
            <td>$N/A</td>
            <td></td>
            <td>$0.000000</td>
            <td>$0.00</td>
            <td>$0.00</td>
            <td>$0.00</td>
            <td></td>
            <td></td>
            <td></td>
            <td>0.00%</td>
         </tr>

         <tr>
            <td></td>
            <td></td>
            <td class="borde-arriba borde-abajo">0</td>
            <td></td>
            <td></td>
            <td></td>
            <td class="borde-arriba borde-abajo">$0.00</td>
            <td class="borde-arriba borde-abajo">$0.00</td>
            <td class="borde-arriba borde-abajo">$0.00</td>
            <td></td>
            <td></td>
            <td></td>
            <td class="borde-arriba borde-abajo">0.00%</td>
         </tr>

         <!-- Saldo en Efectivo -->
         <tr style="font-weight: 500;">
            <td colspan="9" class="pt-2 pb-2">Saldo en Efectivo</td>
         </tr>

         <tr style="font-weight: 500;">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>Valor de Cierre</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>% cartera total</td>
         </tr>

         <tr>
            <td>MXN</td>
            <td></td>
            <td>0</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>$0.96</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>0.00%</td>
         </tr>

         <tr>
            <td></td>
            <td></td>
            <td class="borde-arriba borde-abajo">0</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="borde-arriba borde-abajo">$0.96</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="borde-arriba borde-abajo">0.00%</td>
         </tr>

         <!-- Total -->
         <tr><td class="pt-2 pb-2"></td></tr>
         <tr><td class="pt-2 pb-2"></td></tr>
         <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style="text-align: start !important;">Total</td>
            <td class="borde-arriba borde-abajo">$1,332,839.19</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
         </tr>
         <tr><td class="pt-2 pb-2"></td></tr>
         <tr><td class="pt-2 pb-2"></td></tr>
      </tbody>
   </table>

   <div class="salto-pagina"></div>

   <!-- DICIEMBRE 2024 -->
   <table class="tabla-componente w-full tabla-posicion-valores">
      <thead>
         <tr class="encabezado-tabla-componente">
            <th class="p-3">Detalle de la posición de valores</span></th>
            <th>diciembre de 2024</th>
         </tr>
      </thead>
      <tbody>
         <!-- Mercado de Dinero en directo -->
         <tr style="font-weight: 500;">
            <td colspan="9" class="pt-2">Mercado de Dinero en directo</td>
         </tr>

         <tr style="font-weight: 500;">
            <td>Emisora</td>
            <td>Serie</td>
            <td>Titulos</td>
            <td>Costo</td>
            <td></td>
            <td>Precio de Mercado</td>
            <td>Importe de compra</td>
            <td>Valor de Mercado</td>
            <td>Plus/minusvalia</td>
            <td></td>
            <td></td>
            <td></td>
            <td>% cartera total</td>
         </tr>

         <tr>
            <td></td>
            <td></td>
            <td class="borde-arriba borde-abajo">0</td>
            <td></td>
            <td></td>
            <td></td>
            <td class="borde-arriba borde-abajo">$0.00</td>
            <td class="borde-arriba borde-abajo">$0.00</td>
            <td class="borde-arriba borde-abajo">$0.00</td>
            <td></td>
            <td></td>
            <td></td>
            <td class="borde-arriba borde-abajo">0.00%</td>
         </tr>

         <!-- Mercado de dinero en reporto -->
         <tr style="font-weight: 500;">
            <td colspan="9" class="pt-2 pb-2">Mercado de dinero en reporto</td>
         </tr>

         <tr style="font-weight: 500;">
            <td>Emisora</td>
            <td>Serie</td>
            <td>Titulos</td>
            <td>F. Inicio</td>
            <td>F. Venc</td>
            <td>Precio de Mercado</td>
            <td>Importe de Operación</td>
            <td>Valor al cierre</td>
            <td>Premio desvengado</td>
            <td>Plazo</td>
            <td>Días por Vencer</td>
            <td>Tasa</td>
            <td>% cartera total</td>
         </tr>

         <tr>
            <td>LF BONDESF 251023</td>
            <td></td>
            <td>13,395</td>
            <td>2024-12-31</td>
            <td>2025-01-02</td>
            <td>$100.268759</td>
            <td>$1,342,717.84</td>
            <td>$1,342,717.84</td>
            <td>$0.00</td>
            <td>-1.00</td>
            <td>2.00</td>
            <td>0.0905</td>
            <td>99.99%</td>
         </tr>

         <tr>
            <td></td>
            <td></td>
            <td class="borde-arriba borde-abajo">13,395</td>
            <td></td>
            <td></td>
            <td></td>
            <td class="borde-arriba borde-abajo">$1,342,717.84</td>
            <td class="borde-arriba borde-abajo">$1,342,717.84</td>
            <td class="borde-arriba borde-abajo">$0.00</td>
            <td></td>
            <td></td>
            <td></td>
            <td class="borde-arriba borde-abajo">99.99%</td>
         </tr>

         <!-- Mercado de capitales -->
         <tr style="font-weight: 500;">
            <td colspan="9" class="pt-2 pb-2">Mercado de capitales</td>
         </tr>

         <tr style="font-weight: 500;">
            <td>Emisora</td>
            <td>Serie</td>
            <td>Titulos Mes Actuak</td>
            <td>Costo Promedio Ponderado</td>
            <td></td>
            <td>Precio de Mercado</td>
            <td>Importe de compra</td>
            <td>Valor de Mercado</td>
            <td>Plus/minusvalia</td>
            <td></td>
            <td></td>
            <td></td>
            <td>% cartera total</td>
         </tr>

         <tr>
            <td></td>
            <td></td>
            <td class="borde-arriba borde-abajo">0</td>
            <td></td>
            <td></td>
            <td></td>
            <td class="borde-arriba borde-abajo">$0.00</td>
            <td class="borde-arriba borde-abajo">$0.00</td>
            <td class="borde-arriba borde-abajo">$0.00</td>
            <td></td>
            <td></td>
            <td></td>
            <td class="borde-arriba borde-abajo">0.00%</td>
         </tr>

         <!-- Saldo en Efectivo -->
         <tr style="font-weight: 500;">
            <td colspan="9" class="pt-2 pb-2">Saldo en Efectivo</td>
         </tr>

         <tr style="font-weight: 500;">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>Valor de Cierre</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>% cartera total</td>
         </tr>

         <tr>
            <td>MXN</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>$94.32</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>0.00%</td>
         </tr>

         <tr>
            <td></td>
            <td></td>
            <td class="borde-arriba borde-abajo">0</td>
            <td></td>
            <td></td>
            <td></td>
            <td class="borde-arriba borde-abajo">$0.00</td>
            <td class="borde-arriba borde-abajo">$94.32</td>
            <td class="borde-arriba borde-abajo">$0.00</td>
            <td></td>
            <td></td>
            <td></td>
            <td class="borde-arriba borde-abajo">0.00%</td>
         </tr>

         <!-- Total -->
         <tr><td class="pt-2 pb-2"></td></tr>
         <tr><td class="pt-2 pb-2"></td></tr>
         <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style="text-align: start !important;">Total</td>
            <td class="borde-arriba borde-abajo">$1,342,8612.16</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
         </tr>
         <tr><td class="pt-2 pb-2"></td></tr>
         <tr><td class="pt-2 pb-2"></td></tr>
      </tbody>
   </table>